#icon= link_to (image_tag "Close.png"), :back
#box
	#title
		#left Password
	%br
	%br
	%br
	%input{:type=>"password", :size=>36, :class=>"inputField"}
	%br
	%br
	%br
	=link_to (image_tag "Done Button.png"),new_contact_path
	