%html
	%head
		%title Playmail
		=stylesheet_link_tag :application
		= javascript_include_tag :application
		= csrf_meta_tags
		%link{:rel => "apple-touch-icon", :href=> "/72-iPad-ICON.png"}
	%body
		#container
			= yield